body{
  margin:0;
  padding: 0;
  background-color: #535ccf;
  color:#fff;
}
.center-container{
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
header{
  background-color: gold;

}
header .center-container{
  display: flex;
  justify-content:center;
  padding-top: 30px;
}
 #logo{
   display: inline-block;
   margin-left: -350px;
   font-size: 25px;
   text-transform: uppercase;
   font-weight: bold;

}
header span{
  color: red;
}
header h1{
  margin-left:600px;
  margin-top: 0;
  font-size: 50px;
}
main .center-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
main .first{
  margin-bottom: 0;
}
main .center-container p{
  margin-top: 0;
}
#current-events{
  line-height: 1.3rem;
}
#current-events h2{
  font-size: 20px;
  font-weight: 400px;
}

#main-footer .center-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}
#main-footer i{
  padding: 5px;
}
footer{
  background-color: #fff;
  color: tomato;
}
